body
{
    position: relative;
    height: 100vh;
    overflow:hidden;
}

#bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/MeuProjeto/Imagens/fundo/Background-Space.png");
    background-size: calc(100% + var(--x) / 3);
    background-position: center;
}

.Astronauta {
    position: absolute;
    max-width: calc(100% - var(--x) / 50); 
    z-index: 1;

}
.txtIntroducao{
    position: relative;
    top: 3em;
    left: 2em;
    width: 50%;
    font-family: 'Audiowide', cursive;
    font-size: 4em;
	color: white;
    text-shadow: 3px 3px 5px #2387da;

}

.CabecalhoMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3em;
    background: black;
    text-shadow: 3px 3px 5px #2387da;
    
}

.container-nav-link{

    font-family: 'Audiowide', cursive;
    margin: 0em 2em 0em 0em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    
}

.container-nav-link:hover{
    padding: 2px;
    background: white;
    color: black;
    border-radius: 5px;
    text-shadow: none;


}


